#AboutMe,
.AboutMe-Experience-Container,
.AboutMe-Text-Container {
	display: flex
}

#AboutMe,
.AboutMe-Experience-Container div {
	justify-content: center;
	align-items: center;
	flex-direction: column
}

#AboutMe {
	background-color: #1f1f1f;
	color: #fff
}

.AboutMe-Text-Container {
	flex-direction: column;
	max-width: 810px;
	text-align: center;
	align-items: center;
	margin-bottom: 32px;
	margin-top: 64px
}

.AboutMe-Text-Container h1,
.AboutMe-Text-Container p {
	font-family: "Montserrat", sans-serif;
	font-style: normal;
	line-height: 150%;
	color: #fff
}

.AboutMe-Text-Container h1 {
	font-weight: 700;
	font-size: 36px;
	margin-bottom: 24px
}

.AboutMe-Text-Container p {
	min-height: 72px;
	font-weight: 400;
	font-size: 16px;
	padding: 20px
}

.AboutMe-Experience-Container {
	align-items: center;
	max-width: 1200px;
	width: 100%;
	gap: 64px;
	flex-wrap: wrap
}

.AboutMe-Experience-Container div {
	flex: 1;
	min-width: 150px;
	text-align: center;
	display: flex;
	margin-bottom: 80px
}

.AboutMe-Experience-Container h1,
.AboutMe-Experience-Container p {
	min-height: 96px;
	font-family: "Montserrat", sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 64px;
	line-height: 150%;
	color: #ff6464
}

.AboutMe-Experience-Container p {
	min-height: 23px;
	font-size: 18px;
	line-height: 130%;
	color: #fff
}

@media only screen and (max-width:600px) {
	.AboutMe-Experience-Container {
		gap: 16px
	}
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  background-color: rgba(255, 255, 255, 0.15);
}

#blog {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.blog-heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.blog-heading span {
  color: #f33c3c;
}

.blog-heading h3 {
  font-size: 3.6rem;
  color: #2b2b2b;
  font-weight: 500;
}

.blog-container {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-top: 20px;
}

.blog-box {
  flex: 1;

  border: 1px solid #ececec;
  margin: 20px;
  border-radius: 15px;
  min-width: 330px;
  min-height: 450px;
}

.blog-img {
  width: 100%;
  height: 200px;
  overflow: hidden;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.blog-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.blog-text {
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.blog-text span {
  color: #f33c3c;
  font-size: 0.9rem;
}

.blog-text .blog-title {
  font-size: 1.4rem;
  font-weight: 500;
  color: #272727;
  margin: 10px 0;
}

.blog-text p {
  color: #9b9b9b;
  font-size: 1rem;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 10px 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  align-items: end;
  margin-top: 10px;
}

.blog-text #readMoreLink {
  color: #0f0f0f;
  margin-top: auto;
}

.blog-text #readMoreLink:hover {
  color: #c74242;
  transition: all ease 0.3s;
}

@media (max-width: 1200px) {
  .blog-box {
    max-width: 100%;
    margin: 15px;
  }
}
@media (max-width: 655px) {
  .blog-box {
    max-width: 100%;
    margin: 3px;
    min-width: 225px;
  }
}

.material-symbols-outlined {
	font-variation-settings: FILL 0, wght 400, GRAD 0, opsz 24
}

#blog,
#contact,
#contact-form-container {
	display: flex;
	flex-direction: column
}

#contact {
	height: fit-content;
	align-items: center;
	position: relative;
	padding: 20px
}

#contact::after,
#contact::before {
	content: "";
	position: absolute;
	left: 0;
	width: 100%
}

#contact::before {
	top: 0;
	height: 75%;
	background-color: #fff
}

#contact::after {
	bottom: 0;
	height: 25%;
	background-color: #ff3b49
}

.contact-container {
	z-index: 2;
	max-width: 1250px;
	width: 100%;
	display: flex;
	justify-content: center;
	gap: 20px;
	min-height: 460px;
	flex-wrap: wrap
}

#contact-form-container {
	box-shadow: 0 0 10px #0003;
	background-color: #fff;
	justify-content: center
}

#contact-form-container,
#contact-info-container {
	flex: 1;
	font-family: "Montserrat", sans-serif;
	font-weight: 400
}

#contact-form-container div {
	margin: 35px 25px
}

form {
	display: grid;
	grid-gap: 25px
}

input,
textarea {
	width: 100%;
	padding: 10px;
	margin-top: 5px;
	margin-bottom: 10px;
	border: #ff3b49 1.5px solid
}

textarea {
	resize: vertical;
	min-height: 65px
}

input::placeholder,
textarea::placeholder {
	color: #000
}

#CoreDesign,
button {
	justify-content: center;
	align-items: center
}

button {
	padding: 10px 35px;
	border-radius: 4px;
	cursor: pointer;
	font-size: 16px;
	transition: .3s;
	border: #000 1px solid;
	background-color: #fff;
	display: flex
}

button:hover {
	background-color: #ff6464;
	color: #fff
}

#contact-info-container .box1 {
	margin-bottom: 25px;
	max-width: 475px
}

#contact-info-container .box1 h1 {
	margin-bottom: 10px;
	max-width: 475px;
	font-family: "Montserrat", sans-serif;
	font-style: normal;
	font-weight: 700
}

#contact-info-container .box2 {
	height: 150px;
	display: flex;
	flex-direction: column;
	justify-content: space-between
}

#contact-info-container .box1 p {
	color: #9b9b9b;
	font-size: 1rem
}

#contact-info-container .box2 .material-symbols-outlined,
button {
	color: #ff6464
}

#contact-info-container .box2 p {
	display: flex;
	align-items: center
}

.material-symbols-outlined {
	margin: 0 10px 0 0
}

#CoreDesign {
	padding: 20px
}

.CoreDesign-Header {
	max-width: 810px;
	text-align: center;
	margin-top: 90px;
	margin-bottom: 64px
}

.CoreDesign-Header h1,
.CoreDesign-Header p {
	font-family: "Montserrat", sans-serif;
	font-style: normal;
	line-height: 150%;
	text-align: center
}

.CoreDesign-Header h1 {
	font-weight: 700;
	font-size: 38px;
	margin-bottom: 24px
}

.CoreDesign-Header p {
	font-weight: 400;
	font-size: 16px
}

#CoreDesign,
.loading-container {
	display: flex;
	flex-direction: column
}

.loading-container {
	width: 100%
}

.loading-bar {
	width: 100%;
	height: 5px;
	position: relative;
	background-color: #e1e1e1
}

.progress {
	width: 0;
	height: 100%;
	background-color: #1f1f1f;
	position: absolute
}

.percentage {
	margin-left: 10px;
	margin-right: 10px;
	color: #333
}

.skill-name {
	width: 100%
}

.loading-bar-container {
	display: flex;
	align-items: center
}

#FeaturedProject,
.CoreDesign-Skills {
	display: flex;
	align-items: center;
	flex-direction: column
}

.CoreDesign-Skills {
	gap: 20px
}

.CoreDesign-Skills-Leftbox,
.CoreDesign-Skills-Rightbox {
	width: 100%;
	max-width: 421px;
	margin: 10px
}

.CoreDesign-Skills-Container {
	width: 100%;
	max-width: 1250px;
	margin-bottom: 30px
}

@media screen and (min-width:768px) {
	.CoreDesign-Skills {
		flex-direction: row
	}

	.CoreDesign-Skills-Leftbox,
	.CoreDesign-Skills-Rightbox {
		flex: 1;
		max-width: none;
		margin: 10px
	}
}

#FeaturedProject {
	justify-content: center;
	margin: 20px 20px 50px;
	padding: 10px
}

#FeaturedProject-Title {
	position: relative;
	font-weight: 400;
	font-family: "Montserrat"
}

.FeaturedProject-container {
	display: flex;
	border-radius: 7px;
	flex-wrap: wrap;
	gap: 10px;
	box-shadow: 0 0 10px #0000001a;
	transition: transform .3s ease-in-out
}

.FeaturedProject-container:hover {
	transform: scale(1.05)
}

.FeaturedProject-container-RBOX {
	padding: 10px;
	flex: 1;
	overflow: hidden;
	max-height: fit-content
}

.FeaturedProject-container-LBOX {
	flex: 1;
	overflow: hidden;
	max-height: fit-content;
	width: 250px;
	height: 200px;
	border-radius: 7px
}
.FeaturedProject-container-LBOX img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
@media (max-width:655px) {
	.FeaturedProject-container-LBOX {
		max-width: 100%;
		min-width: 100%
	}
}

.Technologies,
.Technologies-Icons {
	display: flex;
	gap: 10px
}

.FeaturedProject-TxT h1 {
	min-width: 154px;
	font-weight: 500;
	font-family: "Montserrat";
	font-size: 27px;
	line-height: 29px;
	color: #000;
	margin-bottom: 9px
}

.FeaturedProject-TxT p {
	font-weight: 400;
	font-size: 14px;
	line-height: 170%;
	color: gray;
	font-family: "Montserrat";
	min-height: 18px;
	border-bottom: 2px solid #fc3314;
	margin-bottom: 5px
}

.Technologies-Icons img {
	width: 38px;
	margin-top: 5px
}

.grid-container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 30px
}

@media (max-width:955px) {
	.grid-container {
		grid-template-columns: 1fr
	}
}

.three h3 {
	font-size: 3.6rem;
	color: #2b2b2b;
	font-weight: 500;
	padding-bottom: 15px;
	margin-bottom: 45px;
	position: relative
}

.three h3:after,
.three h3:before {
	content: "";
	position: absolute;
	left: 0;
	bottom: 0;
	height: 5px;
	width: 45px;
	background-color: #111
}

.three h3:after {
	bottom: 2px;
	height: 1px;
	width: 100%;
	max-width: 255px;
	background-color: #333
}

#footer,
.Header-container h1,
.Header-container p {
	font-style: normal;
	font-weight: 400;
	text-align: center
}

#footer {
	left: 0;
	bottom: 0;
	width: 100%;
	color: #000;
	padding: 10px 0;
	background-color: #ff3b49;
	font-family: "Montserrat", sans-serif
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box
}

#Header {
	height: 75vh
}

.Header-container,
.Header-wrapper {
	display: flex;
	justify-content: center;
	align-items: center
}

.Header-container {
	flex-direction: column
}

#myTopnav {
	display: sticky
}

.Header-container h1,
.Header-container p {
	max-width: 608px;
	min-height: 79px;
	font-family: "Inter";
	font-size: 72px;
	line-height: 110%;
	color: #ff6464
}

.Header-container p {
	max-width: 740px;
	min-height: 29px;
	font-weight: 300;
	font-size: 24px;
	line-height: 29px
}

@media only screen and (max-width:768px) {
	.Header-container h1 {
		font-size: 48px
	}

	.Header-container p {
		font-size: 18px
	}
}

.Header-wrapper {
	height: 100%
}

.topnav {
	position: fixed;
	top: 0;
	width: 100%;
	background-color: #fff;
	z-index: 10
}

.topnav a {
	float: right;
	display: block;
	color: #0c0c0c;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px
}

.topnav a:hover {
	color: #da7474
}

.topnav a.active {
	color: red
}

.topnav .icon {
	display: none;
	background-color: #ff6464;
	color: #fff
}

@media screen and (max-width:600px) {
	.topnav a:not(:first-child) {
		display: none
	}

	.topnav a.icon {
		float: left;
		display: block
	}

	.topnav.responsive {
		position: fixed
	}

	.topnav.responsive .icon {
		position: absolute;
		right: 0;
		top: 0
	}

	.topnav.responsive a {
		float: none;
		display: block;
		text-align: left
	}
}
